@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../font/google-opensans/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
